@model Benner.MicroondasOnline.Site.Models.MicroondasModel

@{
  ViewBag.Title = "Microondas Online";
}

<div class="row">
    <div class="col-md-12">
        <h3>Esquentar meu rango agora!</h3>
    </div>
</div>

<div class="row col-md-12">
    @using (Html.BeginForm("Esquentar", "Microondas", FormMethod.Post))
    {
        @Html.TextBoxFor(x => x.Rapido, new { Type = "hidden", Value = false })

    <div class="form-group">
        @Html.LabelFor(x => x.Tempo, new { Value = "Tempo de Cozimento" })
        @Html.TextBoxFor(x => x.Tempo, new { Class = "form-control", Type = "time", Step = "1", Autocomplete = "off" })
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(x => x.Potencia, null, new { Class = "control-label" })
        @Html.LabelFor(x => x.Potencia, new { Text = "Potência" })
        @Html.TextBoxFor(x => x.Potencia, new { Class = "form-control", Type = "number", Value = 10, Autocomplete = "off" })
    </div>

        if (!ViewData.ModelState.IsValid)
        {
            string msg = string.Join(";  ", ViewData.ModelState.Values.SelectMany(x => x.Errors).Select(x => x.ErrorMessage));

        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Ooops!</strong><br /> @Html.ValidationSummary()
        </div>
        }

    <div class="form-group">
        <button type="submit" id="Iniciar" class="btn btn-warning btn-block">Iniciar</button>
        <button type="submit" id="InicioRapido" class="btn btn-info btn-block">Início Rápido</button>
    </div>
    }
</div>

<div id="progresso" style="font-size: 30px; font-weight: bold;"></div>


@section Scripts
{
    <script type="text/javascript">
        $('#InicioRapido').on('click', function (evt) {
            $('#Rapido').val(true);
        });

        $('#progresso').html('@(Model?.Status)');
    </script>
}
